
  <style>
    body {background:linear-gradient()}

/* CARD */
.lista-canales{width:100%;display:grid;grid-template-columns:repeat(5,1fr);grid-gap:2px}
.limit-responsive{padding:8px;display:inline-block}
.limit-responsive .card{box-shadow:0 0.8rem 0.4rem rgba(0,0,0,.8);padding:2px;border-radius:2px;text-align:center;background:#800080;transition:all 0.2s cubic-bezier(0.0,0.0,0.0,0.0) 0s!important;display:inline-block}
.limit-responsive .card:hover{box-shadow:0 15px 30px 0 rgba(212,170,255,1);transform:translateX(0px) translateY(-1px)!important}
.limit-responsive .card-image{margin-bottom:0.1rem}
.limit-responsive .card-image img{width:100%;aspect-ratio:4 / 3;object-fit:cover;border-radius:1px}
.limit-responsive .card-title{font-size:0.8rem;color:#fff;text-decoration:none;font-weight:450;margin-bottom:0.4rem;display:inline-block}
.skeleton{position:relative}
.skeleton::before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;z-index:0;background:linear-gradient(45deg,#0,#0,#0);background-size:250%;animation:skeleton 0s infinite reverse;border-radius:1px}
@keyframes skeleton {
    0% {background-position: -100% 0;}
    100% {background-position: 100% 0;}
}

</style>
<style type="text/css">
    /* RESPONSIVE */

@media only screen and (max-width: 800px) {
.lista-canales {grid-template-columns: repeat(4,1fr);grid-gap: 3px;}
}
@media only screen and (max-width: 700px) {
.lista-canales {grid-template-columns: repeat(3,1fr);grid-gap: 3px;}
}
@media only screen and (max-width: 600px) {
.lista-canales {grid-template-columns: repeat(2,1fr);grid-gap: 3px;}
}
</style>


<script>
  const allSkeleton = document.querySelectorAll('.skeleton')

window.addEventListener('load', function() {
  allSkeleton.forEach(item=> {
    item.classList.remove('skeleton')
  })
})
</script>